<div class="dashbook">
        <div class="imgCard row">
            <div class="col-lg-6 borR pr20">
                <img src="../2016年鉴/7/扉页.jpg"  alt="">
            </div>
            <div class="col-lg-6 pl20">
                <h3 class="mb15">文档连接</h3>
                <div class="ExcelList row" >
                    <div class="col-sm-6">
                        <a href="../2016年鉴/7/7-1.html" target="_blank">7-1.xls</a><br>
                        <a href="../2016年鉴/7/7-2.html" target="_blank">7-2.xls</a><br>
                        <a href="../2016年鉴/7/7-3.html" target="_blank">7-3.xls</a><br>
                        <a href="../2016年鉴/7/7-4.html" target="_blank">7-4.xls</a><br>
                        <a href="../2016年鉴/7/7-5.html" target="_blank">7-5.xls</a><br>
                        <a href="../2016年鉴/7/7-6.html" target="_blank">7-6.xls</a><br>
                        <a href="../2016年鉴/7/7-7.html" target="_blank">7-7.xls</a><br>
                        <a href="../2016年鉴/7/7-8.html" target="_blank">7-8.xls</a><br>
                        <a href="../2016年鉴/7/7-9.html" target="_blank">7-9.xls</a><br>
                        <a href="../2016年鉴/7/7-10.html" target="_blank">7-10.xls</a><br>
                        <a href="../2016年鉴/7/7-11.html" target="_blank">7-11.xls</a><br>
                        <a href="../2016年鉴/7/7-12.html" target="_blank">7-12.xls</a><br>
                        <a href="../2016年鉴/7/7-13.html" target="_blank">7-13.xls</a><br>
                        <a href="../2016年鉴/7/7-14.html" target="_blank">7-14.xls</a><br>
                        <a href="../2016年鉴/7/7-15.html" target="_blank">7-25.xls</a><br>
                        <a href="../2016年鉴/7/7-16.html" target="_blank">7-16.xls</a><br>
                        <a href="../2016年鉴/7/7-16-sb.html" target="_blank">7-16-sb.xls</a><br>
                        <a href="../2016年鉴/7/7-17.html" target="_blank">7-17.xls</a><br>
                        <a href="../2016年鉴/7/7-18-sb.html" target="_blank">7-18-sb.xls</a><br>
                        <a href="../2016年鉴/7/7-18.html" target="_blank">7-18.xls</a><br>
                        <a href="../2016年鉴/7/7-19.html" target="_blank">7-19.xls</a><br>
                    </div>
                    <div class="col-sm-6">
                        <a href="../2016年鉴/7/7-20.html" target="_blank">7-20.xls</a><br>
                        <a href="../2016年鉴/7/7-20-sb.html" target="_blank">7-20-sb.xls</a><br>
                        <a href="../2016年鉴/7/7-21新.html" target="_blank">7-21新.xls</a><br>
                        <a href="../2016年鉴/7/7-22.html" target="_blank">7-22.xls</a><br>
                        <a href="../2016年鉴/7/7-23.html" target="_blank">7-23.xls</a><br>
                        <a href="../2016年鉴/7/7-24.html" target="_blank">7-24.xls</a><br>
                        <a href="../2016年鉴/7/7-25.html" target="_blank">7-25.xls</a><br>
                        <a href="../2016年鉴/7/7-26.html" target="_blank">7-26.xls</a><br>
                        <a href="../2016年鉴/7/7-27.html" target="_blank">7-27.xls</a><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgCard row mt20">
            <div class="col-lg-12 borR pr20">
                <img src="../2016年鉴/7/指标解释.jpg"  alt="">
            </div>
        </div>
    </div>
    