<div class="dashbook">
    <div class="imgCard row" ng-show="$root.paperNum==4.0">
        <div class="col-lg-6 borR pr20">
            <img src="../2016年鉴/4/扉页.jpg" alt="">
        </div>
        <div class="col-lg-6 pl20">
            <h3 class="mb15">文档连接</h3>
            <div class="ExcelList">
                <a href="../2016年鉴/4/4-1.xls" target="_blank">4-1.xls</a><br>
                <a href="../2016年鉴/4/4-2newok.xls" target="_blank">4-2newok.xls</a><br>
                <a href="../2016年鉴/4/4-3newok.xls" target="_blank">4-3newok.xls</a><br>
                <a href="../2016年鉴/4/4-4.xls" target="_blank">4-4.xls</a><br>
                <a href="../2016年鉴/4/4-4-sbok.xls" target="_blank">4-4-sbok.xls</a><br>
                <a href="../2016年鉴/4/4-5.xls" target="_blank">4-5.xls</a><br>
                <a href="../2016年鉴/4/4-5-1newok.xls" target="_blank">4-5-1newok.xls</a><br>
                <a href="../2016年鉴/4/4-5-2newok.xls" target="_blank">4-5-2newok.xls</a><br>
                <a href="../2016年鉴/4/4-6.xls" target="_blank">4-6.xls</a><br>
                <a href="../2016年鉴/4/4-6-1newok.xls" target="_blank">4-6-1newok.xls</a><br>
                <a href="../2016年鉴/4/4-6-2newok.xls" target="_blank">4-6-2newok.xls</a><br>
                <a href="../2016年鉴/4/4-7.xls" target="_blank">4-7.xls</a><br>
                <a href="../2016年鉴/4/4-7-1newok.xls" target="_blank">4-7-1newok.xls</a><br>
                <a href="../2016年鉴/4/4-7-2newok.xls" target="_blank">4-7-2newok.xls</a><br>
                <a href="../2016年鉴/4/4-8.xls" target="_blank">4-8.xls</a><br>
                <a href="../2016年鉴/4/4-8-1newok.xls" target="_blank">4-8-1newok.xls</a><br>
                <a href="../2016年鉴/4/4-8-2newok.xls" target="_blank">4-8-2newok.xls</a><br>
            </div>
        </div>
    </div>
    <div class="imgCard row mt20" ng-show="$root.paperNum==4.35">
        <div class="col-lg-12 borR pr20">
            <img src="../2016年鉴/4/指标解释.jpg" alt="">
        </div>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.1">
        <iframe src="../2016年鉴/4/4-1.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.2">
        <iframe src="../2016年鉴/4/4-2newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.3">
        <iframe src="../2016年鉴/4/4-3newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.4">
        <iframe src="../2016年鉴/4/4-4.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.5">
        <iframe src="../2016年鉴/4/4-4-sbok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.6">
        <iframe src="../2016年鉴/4/4-5.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.7">
        <iframe src="../2016年鉴/4/4-5-1newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.8">
        <iframe src="../2016年鉴/4/4-5-2newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.9">
        <iframe src="../2016年鉴/4/4-6.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.11">
        <iframe src="../2016年鉴/4/4-6-1newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.12">
        <iframe src="../2016年鉴/4/4-6-2newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.13">
        <iframe src="../2016年鉴/4/4-7.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.14">
        <iframe src="../2016年鉴/4/4-7-1newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.15">
        <iframe src="../2016年鉴/4/4-7-2newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.16">
        <iframe src="../2016年鉴/4/4-8.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.17">
        <iframe src="../2016年鉴/4/4-8-1newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
    <div class="imgCard row" ng-if="$root.paperNum==4.18">
        <iframe src="../2016年鉴/4/4-8-2newok.html" frameborder="0" width="100%" height="1200px"></iframe>
    </div>
</div>