<div class="dashbook">
        <div class="imgCard row">
            <div class="col-lg-6 borR pr20">
                <img src="../2016年鉴/6/扉页.jpg"  alt="">
            </div>
            <div class="col-lg-6 pl20">
                <h3 class="mb15">文档连接</h3>
                <div class="ExcelList">
                    <a href="../2016年鉴/6/6-1.html" target="_blank">6-1.xls</a><br>
                    <a href="../2016年鉴/6/6-2.html" target="_blank">6-2.xls</a><br>
                    <a href="../2016年鉴/6/6-3.html" target="_blank">6-3.xls</a><br>
                    <a href="../2016年鉴/6/6-4.html" target="_blank">6-4.xls</a><br>
                    <a href="../2016年鉴/6/6-5.html" target="_blank">6-5.xls</a><br>
                    <a href="../2016年鉴/6/6-5-sb.html" target="_blank">6-5-sb.xls</a><br>
                    <a href="../2016年鉴/6/6-6.html" target="_blank">6-6.xls</a><br>
                    <a href="../2016年鉴/6/6-7.html" target="_blank">6-7.xls</a><br>
                    <a href="../2016年鉴/6/6-8.html" target="_blank">6-8.xls</a><br>
                    <a href="../2016年鉴/6/6-9.html" target="_blank">6-9.xls</a><br>
                    <a href="../2016年鉴/6/6-10.html" target="_blank">6-10.xls</a><br>
                    <a href="../2016年鉴/6/6-10-sb1.html" target="_blank">6-10-sb1.xls</a><br>
                    <a href="../2016年鉴/6/6-10-sb2.html" target="_blank">6-10-sb2.xls</a><br>
                    <a href="../2016年鉴/6/6-11.html" target="_blank">6-11.xls</a><br>
                    <a href="../2016年鉴/6/6-11-sb.html" target="_blank">6-11-sb.xls</a><br>
                    <a href="../2016年鉴/6/6-12.html" target="_blank">6-12.xls</a><br>
                </div>
            </div>
        </div>
        <div class="imgCard row mt20">
            <div class="col-lg-12 borR pr20">
                <img src="../2016年鉴/6/指标解释.jpg"  alt="">
            </div>
        </div>
    </div>
    