<div class="dashbook">
        <div class="imgCard row">
            <div class="col-lg-6 borR pr20">
                <img src="../2016年鉴/8/扉页.jpg"  alt="">
            </div>
            <div class="col-lg-6 pl20">
                <h3 class="mb15">文档连接</h3>
                <div class="ExcelList row">
                    <div class="col-sm-6">
                            <a href="../2016年鉴/8/8-1.html" target="_blank">8-1.xls</a><br>
                            <a href="../2016年鉴/8/8-2.html" target="_blank">8-2.xls</a><br>
                            <a href="../2016年鉴/8/8-3.html" target="_blank">8-3.xls</a><br>
                            <a href="../2016年鉴/8/8-4.html" target="_blank">8-4.xls</a><br>
                            <a href="../2016年鉴/8/8-4-sb1.html" target="_blank">8-4-sb1.xls</a><br>
                            <a href="../2016年鉴/8/8-4-sb2.html" target="_blank">8-4-sb2.xls</a><br>
                            <a href="../2016年鉴/8/8-4-sb3.html" target="_blank">8-4-sb3.xls</a><br>
                            <a href="../2016年鉴/8/8-5.html" target="_blank">8-5.xls</a><br>
                            <a href="../2016年鉴/8/8-5-sb.html" target="_blank">8-5-sb.xls</a><br>
                            <a href="../2016年鉴/8/8-6.html" target="_blank">8-6.xls</a><br>
                            <a href="../2016年鉴/8/8-6-sb1.html" target="_blank">8-6-sb1.xls</a><br>
                            <a href="../2016年鉴/8/8-6-sb2.html" target="_blank">8-6-sb2.xls</a><br>
                            <a href="../2016年鉴/8/8-6-sb3.html" target="_blank">8-6-sb3.xls</a><br>
                            <a href="../2016年鉴/8/8-6-sb4.html" target="_blank">8-6-sb4.xls</a><br>
                            <a href="../2016年鉴/8/8-7.html" target="_blank">8-7.xls</a><br>
                            <a href="../2016年鉴/8/8-8.html" target="_blank">8-8.xls</a><br>
                            <a href="../2016年鉴/8/8-8-sb.html" target="_blank">8-8-sb.xls</a><br>
                            <a href="../2016年鉴/8/8-9.html" target="_blank">8-9.xls</a><br>
                            <a href="../2016年鉴/8/8-10.html" target="_blank">8-10.xls</a><br>
                            <a href="../2016年鉴/8/8-11.html" target="_blank">8-11.xls</a><br>
                            <a href="../2016年鉴/8/8-12.html" target="_blank">8-12.xls</a><br>
                            <a href="../2016年鉴/8/8-13.html" target="_blank">8-13.xls</a><br>
                    </div>
                    <div class="col-sm-6">
                            <a href="../2016年鉴/8/8-14.html" target="_blank">8-14.xls</a><br>
                            <a href="../2016年鉴/8/8-15.html" target="_blank">8-15.xls</a><br>
                            <a href="../2016年鉴/8/8-16.html" target="_blank">8-16.xls</a><br>
                            <a href="../2016年鉴/8/8-16-sb.html" target="_blank">8-16-sb.xls</a><br>
                            <a href="../2016年鉴/8/8-17.html" target="_blank">8-17.xls</a><br>
                            <a href="../2016年鉴/8/8-17-sb.html" target="_blank">8-17-sb.xls</a><br>
                            <a href="../2016年鉴/8/8-18.html" target="_blank">8-18.xls</a><br>
                            <a href="../2016年鉴/8/8-18-sb.html" target="_blank">8-18-sb.xls</a><br>
                            <a href="../2016年鉴/8/8-19.html" target="_blank">8-19.xls</a><br>
                            <a href="../2016年鉴/8/8-19-sb.html" target="_blank">8-19-sb.xls</a><br>
                            <a href="../2016年鉴/8/8-20.html" target="_blank">8-20.xls</a><br>
                            <a href="../2016年鉴/8/8-20-sb.html" target="_blank">8-20-sb.xls</a><br>
                            <a href="../2016年鉴/8/8-21.html" target="_blank">8-21.xls</a><br>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="imgCard row mt20">
            <div class="col-lg-12 borR pr20">
                <img src="../2016年鉴/8/指标解释.jpg"  alt="">
            </div>
        </div>
    </div>
    