<div class="dashbook">
        <div class="imgCard row">
            <div class="col-lg-6 borR pr20">
                <img src="../2016年鉴/18/扉页.jpg"  alt="">
            </div>
            <div class="col-lg-6 pl20">
                <h3 class="mb15">文档连接</h3>
                <div class="ExcelList row">
                    <div class="col-sm-4">
                            <a href="../2016年鉴/18/18-1.jpg" target="_blank">18-1.xls</a><br>
                            <a href="../2016年鉴/18/18-1-sb1.jpg" target="_blank">18-1-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-1-sb2.jpg" target="_blank">18-1-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-1-sb3.jpg" target="_blank">18-1-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-2.jpg" target="_blank">18-2.xls</a><br>
                            <a href="../2016年鉴/18/18-2-sb.jpg" target="_blank">18-2-sb.xls</a><br>
                            <a href="../2016年鉴/18/18-3.jpg" target="_blank">18-3.xls</a><br>
                            <a href="../2016年鉴/18/18-3-sb1.jpg" target="_blank">18-3-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-3-sb2.jpg" target="_blank">18-3-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-3-sb3.jpg" target="_blank">18-3-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-4.jpg" target="_blank">18-4.xls</a><br>
                            <a href="../2016年鉴/18/18-4-sb1.jpg" target="_blank">18-4-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-4-sb2.jpg" target="_blank">18-4-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-4-sb3.jpg" target="_blank">18-4-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-4-sb4.jpg" target="_blank">18-4-sb4.xls</a><br>
                            <a href="../2016年鉴/18/18-5.jpg" target="_blank">18-5.xls</a><br>
                            <a href="../2016年鉴/18/18-5-sb1.jpg" target="_blank">18-5-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-5-sb2.jpg" target="_blank">18-5-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-5-sb3.jpg" target="_blank">18-5-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-6.jpg" target="_blank">18-6.xls</a><br>
                            <a href="../2016年鉴/18/18-6-sb1.jpg" target="_blank">18-6-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-6-sb2.jpg" target="_blank">18-6-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-6-sb3.jpg" target="_blank">18-6-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-7.jpg" target="_blank">18-7.xls</a><br>
                            <a href="../2016年鉴/18/18-7-sb1.jpg" target="_blank">18-7-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-7-sb2.jpg" target="_blank">18-7-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-7-sb3.jpg" target="_blank">18-7-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-8.jpg" target="_blank">18-8.xls</a><br>
                          
                    </div>
                    <div class="col-sm-4">
                            <a href="../2016年鉴/18/18-8-sb.jpg" target="_blank">18-8-sb.xls</a><br>
                            <a href="../2016年鉴/18/18-9.jpg" target="_blank">18-9.xls</a><br>
                            <a href="../2016年鉴/18/18-9-sb1.jpg" target="_blank">18-9-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-9-sb2.jpg" target="_blank">18-9-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-9-sb3.jpg" target="_blank">18-9-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-10.jpg" target="_blank">18-10.xls</a><br>
                            <a href="../2016年鉴/18/18-10-sb.jpg" target="_blank">18-10-sb.xls</a><br>
                            <a href="../2016年鉴/18/18-11.jpg" target="_blank">18-11.xls</a><br>
                            <a href="../2016年鉴/18/18-11-sb1.jpg" target="_blank">18-11-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-11-sb2.jpg" target="_blank">18-11-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-11-sb3.jpg" target="_blank">18-11-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-12.jpg" target="_blank">18-12.xls</a><br>
                            <a href="../2016年鉴/18/18-12-sb.jpg" target="_blank">18-12-sb.xls</a><br>
                            <a href="../2016年鉴/18/18-13.jpg" target="_blank">18-13.xls</a><br>
                            <a href="../2016年鉴/18/18-13-sb.jpg" target="_blank">18-13-sb.xls</a><br>
                            <a href="../2016年鉴/18/18-14.jpg" target="_blank">18-14.xls</a><br>
                            <a href="../2016年鉴/18/18-14-sb1.jpg" target="_blank">18-14-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-14-sb2.jpg" target="_blank">18-14-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-14-sb3.jpg" target="_blank">18-14-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-15.jpg" target="_blank">18-15.xls</a><br>
                            <a href="../2016年鉴/18/18-15-sb.jpg" target="_blank">18-15-sb.xls</a><br>
                            <a href="../2016年鉴/18/18-16.jpg" target="_blank">18-16.xls</a><br>
                            <a href="../2016年鉴/18/18-16-sb.jpg" target="_blank">18-16-sb.xls</a><br>
                            <a href="../2016年鉴/18/18-17.jpg" target="_blank">18-17.xls</a><br>
                            <a href="../2016年鉴/18/18-17-sb1.jpg" target="_blank">18-17-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-17-sb2.jpg" target="_blank">18-17-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-17-sb3.jpg" target="_blank">18-17-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-18.jpg" target="_blank">18-18.xls</a><br>
                            
                    </div>
                    <div class="col-sm-4">
                            <a href="../2016年鉴/18/18-18-sb1.jpg" target="_blank">18-18-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-18-sb2.jpg" target="_blank">18-18-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-18-sb3.jpg" target="_blank">18-18-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-19.jpg" target="_blank">18-19.xls</a><br>
                            <a href="../2016年鉴/18/18-19-sb1.jpg" target="_blank">18-19-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-19-sb2.jpg" target="_blank">18-19-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-19-sb3.jpg" target="_blank">18-19-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-20.jpg" target="_blank">18-20.xls</a><br>
                            <a href="../2016年鉴/18/18-20-sb1.jpg" target="_blank">18-20-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-20-sb2.jpg" target="_blank">18-20-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-20-sb3.jpg" target="_blank">18-20-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-21.jpg" target="_blank">18-21.xls</a><br>
                            <a href="../2016年鉴/18/18-21-sb1.jpg" target="_blank">18-21-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-21-sb2.jpg" target="_blank">18-21-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-21-sb3.jpg" target="_blank">18-21-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-22.jpg" target="_blank">18-22.xls</a><br>
                            <a href="../2016年鉴/18/18-22-sb1.jpg" target="_blank">18-22-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-22-sb2.jpg" target="_blank">18-22-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-22-sb3.jpg" target="_blank">18-22-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-23.jpg" target="_blank">18-23.xls</a><br>
                            <a href="../2016年鉴/18/18-23-sb1.jpg" target="_blank">18-23-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-23-sb2.jpg" target="_blank">18-23-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-23-sb3.jpg" target="_blank">18-23-sb3.xls</a><br>
                            <a href="../2016年鉴/18/18-24.jpg" target="_blank">18-24.xls</a><br>
                            <a href="../2016年鉴/18/18-24-sb1.jpg" target="_blank">18-24-sb1.xls</a><br>
                            <a href="../2016年鉴/18/18-24-sb2.jpg" target="_blank">18-24-sb2.xls</a><br>
                            <a href="../2016年鉴/18/18-24-sb3.jpg" target="_blank">18-24-sb3.xls</a><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgCard row mt20">
            <div class="col-lg-12 borR pr20">
                <img src="../2016年鉴/18/指标解释.jpg"  alt="">
            </div>
        </div>
    </div>
    