<div class="dashbook">
        <div class="imgCard row">
            <div class="col-lg-6 borR pr20">
                <img src="../2016年鉴/17/扉页.jpg"  alt="">
            </div>
            <div class="col-lg-6 pl20">
                <h3 class="mb15">文档连接</h3>
                <div class="ExcelList">
                    <a href="../2016年鉴/17/17-1.html" target="_blank">17-1.xls</a><br>
                    <a href="../2016年鉴/17/17-2.html" target="_blank">17-2.xls</a><br>
                    <a href="../2016年鉴/17/17-3.html" target="_blank">17-3.xls</a><br>
                    <a href="../2016年鉴/17/17-4.html" target="_blank">17-4.xls</a><br>
                    <a href="../2016年鉴/17/17-4-sb.html" target="_blank">17-4-sb.xls</a><br>
                    <a href="../2016年鉴/17/17-5..html" target="_blank">17-5..xls</a><br>
                    <a href="../2016年鉴/17/17-6.html" target="_blank">17-6.xls</a><br>
                    <a href="../2016年鉴/17/17-7.html" target="_blank">17-7.xls</a><br>
                    <a href="../2016年鉴/17/17-8.html" target="_blank">17-8.xls</a><br>
                    <a href="../2016年鉴/17/17-9.html" target="_blank">17-9.xls</a><br>
                    <a href="../2016年鉴/17/17-10.html" target="_blank">17-10.xls</a><br>
                    <a href="../2016年鉴/17/17-11.html" target="_blank">17-11.xls</a><br>
                    <a href="../2016年鉴/17/17-12.html" target="_blank">17-12.xls</a><br>
                    <a href="../2016年鉴/17/17-13.html" target="_blank">17-13.xls</a><br>
                    <a href="../2016年鉴/17/17-14.html" target="_blank">17-14.xls</a><br>
                    <a href="../2016年鉴/17/17-15.html" target="_blank">17-15.xls</a><br>
                  
                </div>
            </div>
        </div>
    </div>
    