<div class="dashbook">
        <div class="imgCard row" ng-show="$root.paperNum==3.0">
            <div class="col-lg-6 borR pr20">
                <img src="../2016年鉴/3/扉页.jpg"  alt="">
            </div>
            <div class="col-lg-6 pl20">
                <h3 class="mb15">文档连接</h3>
                <div class="ExcelList">
                    <a href="../2016年鉴/3/3-1.xls" target="_blank">3-1.xls</a><br>
                    <a href="../2016年鉴/3/3-2.xls" target="_blank">3-2.xls</a><br>
                    <a href="../2016年鉴/3/3-3.xls" target="_blank">3-3.xls</a><br>
                    <a href="../2016年鉴/3/3-4-0.xls" target="_blank">3-4-0.xls</a><br>
                    <a href="../2016年鉴/3/3-5.xls" target="_blank">3-5.xls</a><br>
                    <a href="../2016年鉴/3/3-5-sb.xls" target="_blank">3-5-sb.xls</a><br>
                    <a href="../2016年鉴/3/3-6.xls" target="_blank">3-6.xls</a><br>
                </div>
            </div>
        </div>
        <div class="imgCard row mt20" ng-show="$root.paperNum==3.35">
            <div class="col-lg-12 borR pr20">
                <img src="../2016年鉴/3/指标解释.jpg"  alt="">
            </div>
        </div>
        <div class="imgCard row" ng-if="$root.paperNum==3.1" >
            <iframe src="../2016年鉴/3/3-1.html" frameborder="0" width="100%" height="1200px"></iframe>
        </div>
        <div class="imgCard row" ng-if="$root.paperNum==3.2" >
            <iframe src="../2016年鉴/3/3-2.html" frameborder="0" width="100%" height="1200px"></iframe>
        </div>  
        <div class="imgCard row" ng-if="$root.paperNum==3.3" >
            <iframe src="../2016年鉴/3/3-3.html" frameborder="0" width="100%" height="1200px"></iframe>
        </div>
        <div class="imgCard row" ng-if="$root.paperNum==3.4" >
            <iframe src="../2016年鉴/3/3-4-0.html" frameborder="0" width="100%" height="1200px"></iframe>
        </div>
        <div class="imgCard row" ng-if="$root.paperNum==3.5" >
            <iframe src="../2016年鉴/3/3-5-sb.html" frameborder="0" width="100%" height="1200px"></iframe>
        </div>
        <div class="imgCard row" ng-if="$root.paperNum==3.6" >
            <iframe src="../2016年鉴/3/3-6.html" frameborder="0" width="100%" height="1200px"></iframe>
        </div>
    </div>
    